<style>
    body {
        font-size: large;
    }
    h1{
        font-size: xxx-large;
    }
</style>

<h1>Queries list</h1>
<ul>
  <li><%= link_to "Average weight differs", average_difference_path %></li>
  <li><%= link_to "Count statistics", count_stats_path %></li>
  <li><%= link_to "Are there two passengers with almost the same carriage?", same_weights_path %></li>
  <li><%= link_to "Is there a passenger with the biggest count of baggage as well as weight?", task_d_path %></li>
  <li><%= link_to "Is there a passenger with 1 baggage and weight < 30 kg?", task_e_path %></li>
</ul>
<%= link_to "Main", root_path %>
